@model Game

@{
    ViewBag.Title = "Blackjack";
}

<dealer-heading />
<div class="hand mb-4">
    <vc:hand hand-type="Dealer" hand="@Model.Dealer.Hand"></vc:hand>
</div>

<player-heading />
<div class="hand mb-4">
    <vc:hand hand-type="Player" hand="@Model.Player.Hand"></vc:hand>
</div>

<div class="row mb-2">

    <div class="col-2 offset-3">
        <form asp-action="Deal" method="post" class="col">
            @if (Model.NeedsDeal)
            {
                <button type="submit" class="btn btn-primary">Deal</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" disabled>Deal</button>
            }

        </form>
    </div>

    <div class="col-2">
        <form asp-action="Hit" method="post" class="col">
            @if (!Model.NeedsDeal)
            {
                <button type="submit" class="btn btn-primary">Hit</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" disabled>Hit</button>
            }
        </form>
    </div>

    <div class="col-2">
        <form asp-action="Stand" method="post" class="col">
            @if (!Model.NeedsDeal)
            {
                <button type="submit" class="btn btn-primary">Stand</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" disabled>Stand</button>
            }
        </form>
    </div>

</div>
